<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<base href='/'>
	<title>User Story</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>


	<!-- Services -->
	<script type="text/javascript" src="app/services/auth.service.js"></script>
	<script type="text/javascript" src="app/services/user.service.js"></script>
	<script type="text/javascript" src="app/services/story.service.js"></script>
	<!-- Controllers -->
	<script type="text/javascript" src="app/controller/main.controller.js"></script>
	<script type="text/javascript" src="app/controller/user.controller.js"></script>
	<script type="text/javascript" src="app/controller/story.controller.js"></script>
	<!-- Directives -->
	<script type="text/javascript" src="app/directives/reverse.js"></script>

	<script type="text/javascript" src="app/app.routes.js"></script>
	<script type="text/javascript" src="app/app.js"></script>

</head>
<body ng-controller="MainController as main">

<header>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-book"></span>User Story</a>
			</div>

			<ul class="nav navbar-nav">
				<li><a href="/users"></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
				<li ng-if="!main.loggedIn"><a href="/signup">Signup</a></li>
				<li ng-if="main.loggedIn"><a href="#">Hello {{ main.user.username }}</a></li>
				<li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
			</ul>
		</div>
	</div>


</header>


<main class="container">

	<div ng-view></div>
</main>

</body>
</html>